    body {
        margin: 0;
        text-align: center;
        font-family: 'Merriweather', serif;
        }

    h1 {
        color: #ececec;
        margin: 0 auto 0 auto;
        font-family: 'Sacramento', cursive;
        font-size: 3.125em;
        }

    h2, h3 {
        color: #9fd3c7;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        }

    h4 {
        color: #142d4c;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        }

    p {
        color: #ececec;
        font-family: 'Montserrat', sans-serif;
        line-height: 0.5rem;
        }

    p1 {
        color: #142d4c;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        }

    ul {
        color: #ececec;
        font-family: 'Montserrat', sans-serif;
	    text-align: left;
        }

    .bullet{
        text-align: left;
        display: block
        }

    .q-bullet{
        text-align: left;
        display: inline-block
        }

    .header-container1 {
        display: block;
        background-color: #9fd3c7;
        position: absolute;
        height: 30px;
        width: 100px;
        border-style: solid;
        padding-bottom: 10px;
        text-align: center;
        top: 10px;
        left: 10px;
        border-radius: 10px;
        }


    .top-container {
        background-color: #142d4c;
        position: relative;
        height: 500px;
        padding-top: 150px;
        }

    .middle-container {
        background-color: #385170;
        padding-top: 50px;
        height: 3000px;
        }

    .bottom-container {
        background-color: #9fd3c7;
        height: 80px;
        padding-top: 50px
        }

    .cloud {
        display: inline-block;
        height: 10%;
        width: 15%;
        }

    .mountain {
        display: block;
        height: 50%;
        width: 50%;
        position: absolute;
        left: 25%;
        top: 50%;
        }

    #bottom_cloud {
        position: absolute;
        left: 20%;
        }

    #top_cloud {
        position: absolute;
        right: 20%;
        bottom: 80%;
        }

    .strength {
        padding-bottom: 100px;
        text-align: left;
        margin: 10px auto 50px auto;
        width: 50%;
        }

    .strength-image {
        margin-right: 30px;
        width: 15%;
        float: left;
        }

    .skills {
        padding-bottom: 100px;
        margin: 50px auto 50px auto;
        text-align: left;
        width: 50%;
        }

    .skills-image {
        margin-left: 10px;
        width: 20%;
        float: right;
        }

    .certs {
        padding-bottom: 100px;
        margin: 50px auto 50px auto;
        text-align: left;
        width: 50%;
        }

    .certs-image {
        margin-right: 50px;
        width: 15%;
        float: left;
        }

    .qualifications {
        padding-bottom: 100px;
        margin: 50px auto 50px auto;
        text-align: left;
        width: 50%;
        }

    .qualifications-image {
        margin-left: 10px;
        width: 25%;
        float: right;
        }

    .work {
        margin: 50px auto 50px auto;
        text-align: left;
        width: 50%;
        }

    .work-image {
        margin-right: 40px;
        width: 20%;
        float: left;
        padding-bottom: 400px;
        }


   hr {
        border-style: none none dotted;
        border-width: 5px;
        width: 20%;
        display: inline-block;
        border-color: #9fd3c7;
        }


   .project {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 2px solid white;
        border-radius: 15px;
        z-index: 10;
        background-color: #9fd3c7;
        max-width: 80%;
        min-width: 60%;

   }

   .project.active {
        transform: translate(-50%, -50%) scale(1);
   }

   .project-header {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid white;
   }

   .project-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 2rem;
        font-weight: bold;
   }

   .project-body {
        padding: 30px 30px;
   }

  #overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        pointer-events: none;
  }

  #overlay.active {
        opacity: 1;
        pointer-events: all;
  }

  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}